[user]
    name = Bob Somers
    email = bob@bobsomers.com
[github]
    user = bobsomers
[core]
    autocrlf = input
    excludesfile = ~/dotfiles/git/.gitignore
[color]
    ui = true
[alias]
    co = checkout
    dt = difftool --dir-diff
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status
[push]
    default = simple
[diff]
    tool = meld
[merge]
    tool = meld
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    side-by-side = true
    navigate = true
    whitespace-error-style = 22 reverse
[interactive]
    diffFilter = delta --color-only
[safe]
	directory = /Users/bsomers/janet-lang/jpm
	directory = /opt/homebrew/Cellar/janet/1.21.2/lib/janet/.cache/git__https___github.com_janet-lang_pkgs.git
