[Unit]
Description=Home Directory Read-Only Bind Mounts for File Server
ConditionPathExists=/home/bsomers/dotfiles/bin/readonly-bind-mounts.sh
Requires=autofs.service
After=autofs.service

[Service]
Type=oneshot
ExecStart=/home/bsomers/dotfiles/bin/readonly-bind-mounts.sh
RemainAfterExit=yes
